<p class="markdown-image">
  {{ if .Title }}
  <figure>
    <img style="display:block;text-align:center;margin:auto" src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
    <figcaption style="display:block;text-align:center;margin:auto"><i>{{ .Text | safeHTML }}</i></figcaption>
  </figure>
{{ else }}
  <img style="display:block;text-align:center;margin:auto" src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
  <figcaption style="display:block;text-align:center;margin:auto"><i>{{ .Text | safeHTML }}</i></figcaption>
{{ end }}
</p>